body {
    display: grid;
    min-height: 100vh;
    max-width: 1000px;
    margin: 1rem auto 2rem;
    grid-template-columns: 60% 40%;
    grid-template-rows: auto auto auto;
    align-items: start;
    gap: 1rem;
}

.navbar-box {
    grid-column: 1 / span 2;
    grid-row: 1 / 2;
}

h1 {
    margin: 0.25rem;
    font-size: 2.5rem;
    grid-row: 2 / 3;
    grid-column: 1 / 3;
    justify-self: center;
}

h2 {
    font-size: 1.5rem;
    margin: 0;
}

section {
    border: 1px solid #ddd;
    border-radius: 12px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#upcoming-appointments {
    padding: 1.5rem;
    grid-row: 3 / 4;
    grid-column: 1 / 2;
    justify-contents: flex-start;
    gap: 1.5rem;
}

section > p {
    margin: 0;
}

.sort {
    background-color: #409fdb;
    color: white;
    padding: 0.25rem 0.5rem;
    border-radius: 8px;
    transition: background-color 0.5s;
}

.sort:hover {
    background-color: #0056b3;
}

#upcoming-appointments article {
    border: 1px solid #ddd;
    border-radius: 12px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    width: 475px;
    padding: 1rem;
    transition: transform 0.5s;
}

#upcoming-appointments article:hover {
    transform: translateY(-5px);
}

#upcoming-appointments article > a {
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: 1fr auto;
    column-gap: 1.5rem;
}

#upcoming-appointments article * {
    font-size: 1.25rem;
}

#upcoming-appointments article p {
    grid-column: 1 / 2;
}

#upcoming-appointments article img {
    grid-row: 1 / span 3;
    grid-column: 2 / 3;
    align-self: center;
    object-fit: cover;
    height: 120px;
    width: 120px;
    border-radius: 50%;
}

#links {
    grid-row: 3 / 4;
    grid-column: 2 / 3;
    padding: 2.5rem;
    gap: 2.5rem;
    flex-direction: column;
    justify-content: flex-start;
    height: auto;
    width: auto;
}

#links a {
    font-weight: 600;
    border: 1px solid #ddd;
    border-radius: 12px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    padding: 1.25rem;
    width: fit-content;
    font-size: 1.25rem;
    transition: background-color 0.5s, color 0.5s, transform 0.5s;
}

#links a:hover {
    background-color: #409fdb;
    color: #2c3e50;
    transform: translateY(-5px);
}


