body {
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto auto auto;
    gap: 1rem;
}

h1 {
    grid-row: 1 / 2;
    border: 1px solid red;
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

section {
    border: 1px solid green;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#upcoming-appointments {
    grid-row: 3 / 4;
    justify-contents: flex-start;
    gap: 1.5rem;
}

#upcoming-appointments article {
    border: 1px solid blue;
    width: fit-content;
    padding: 1rem;
}

article > * {
    font-size: 1.25rem;
}

#links {
    grid-row: 2 / 3;
    padding: 2.5rem;
    gap: 2.5rem;
    flex-direction: row;
    justify-content: flex-start;
}

#links a {
    border: 1px solid purple;
    padding: 1.5rem;
    width: fit-content;
    font-size: 1.5rem;
}