<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Appointment Details</title>
    <link rel="stylesheet" type="text/css" href="/singleAppointment.css"> <!-- Link to the external CSS -->
</head>
<body>
<header>
    <h1 class="appointment-title">Appointment Details</h1>
</header>
<main>
    <section class="appointment-container">
        <article class="appointment-box">
            <div class="details-container">
                <div class="text-details">
                    <h2>Appointment Information</h2>
                    <p>Date: <span th:text="${appointment.date}"></span></p>
                    <p>Time: <span th:text="${appointment.start_time}"></span></p>
                    <h3>Doctor Information</h3>
                    <p>Name: <span th:text="${doctor.name}"></span></p>
                    <p>Speciality: <span th:text="${doctor.speciality}"></span></p>
                    <h3>Biography</h3>
                    <p><span th:text="${doctor.biography}"></span></p>
<!--                    <button onclick="deleteAppointment()">Delete appointment</button>-->
                    <form th:action="@{/appointment/{appointmentId}(appointmentId=${appointment.id})}" th:method="post">
                        <input type="hidden" name="_method" value="DELETE"/>
                        <button type="submit">Cancel Appointment</button>
                    </form>
                </div>
                <figure class="doctor-image-container">
                    <img th:src="'/' + ${doctor.profile_picture}" th:alt="'Profile image of ' + ${doctor.name}" class="doctor-image">
                    <figcaption><span th:text="${doctor.name}"></span></figcaption>
                </figure>
            </div>
        </article>
    </section>
</main>
<!--    <script>-->
<!--        function deleteAppointment(appointmentId) {-->
<!--            console.log("method invoked");-->
<!--            fetch(`/appointment/${appointmentId}`, {-->
<!--                method: 'DELETE'-->
<!--            })-->
<!--            .then(response => {-->
<!--                if (!res.ok) {-->
<!--                    alert(response.text() + ' Failed to delete appointment.')-->
<!--                }-->
<!--                window.location.href = '/dashboard'-->
<!--            })-->
<!--        }-->
<!--    </script>-->
</body>
</html>


