<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/dashboard.css" />
  <title>Document</title>
</head>
<body>
  <h1>Dashboard</h1>

  <form th:action="@{/dashboard}" method="get">
    <label for="sortOrder">Sort By Date: </label>
    <select id="sortOrder" name="sortOrder">
      <option value="asc" th:selected="${param.sortOrder == 'ASC'}">Ascending</option>
      <option value="desc" th:selected="${param.sortOrder == 'DESC'}">Descending</option>
    </select>
    <button type="submit">Apply Sort</button>
  </form>

  <section id="upcoming-appointments">
    <h2>Upcoming appointments</h2>
    <article th:each="appointment : ${appointments}">
      <a th:href="'/appointment/' + ${appointment.id}">
        <p><b th:text="${appointment.display_date} + ' at ' + ${appointment.start_time}"></b></p>
        <p th:text="${appointment.doctor_name}"></p>
      </a>
    </article>
  </section>
  <section id="links">
    <a href="/doctors">Doctors</a>
    <a href="/appointments/book">Book an appointment</a>
    <a href="/appointment-history">Past appointments</a>
  </section>

</body>
</html>