<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/styles.css">
  <link rel="stylesheet" href="/dashboard.css" />
  <link rel="stylesheet" href="/navbar.css">
  <title>MediBook</title>
</head>
<body>
<div th:replace="~{navbar :: navbar(${name}, ${userimage})}"></div>

<h1>MediBook</h1>

  <section id="upcoming-appointments">
    <h2>Upcoming appointments</h2>
    <p>Sort dates by <a href="/dashboard?sortOrder=desc" class="sort">latest first</a> or <a href="/dashboard?sortOrder=asc" class="sort">earliest first</a></p>
    <article th:each="appointment : ${appointments}">
      <a th:href="'/appointment/' + ${appointment.id}">
        <p th:text="${appointment.doctor_name}"></p>
        <p><b th:text="${appointment.display_date}"></b></p>
        <p><b th:text="${appointment.start_time}"></b></p>
        <img th:src="${appointment.doctor_image}" alt="Doctor's profile picture"/>
      </a>
    </article>
  </section>
  <section id="links">
    <a href="/doctors">Doctors</a>
    <a href="/appointments/book">Book an appointment</a>
    <a href="/appointment-history">Past appointments</a>
  </section>

</body>
</html>